DEBUG=0
SECRET_KEY=replace-with-random-secret
ALLOWED_HOSTS=financeiro.gdapps.online,localhost,127.0.0.1
POSTGRES_HOST=db
POSTGRES_DB=financeiro
POSTGRES_USER=financeiro
POSTGRES_PASSWORD=replace-with-random-password
EVOLUTION_URL=https://evolution-api-5wzr.srv1653494.hstgr.cloud
EVOLUTION_KEY=
EVOLUTION_INSTANCE=principal
